@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #eee;
}
#header{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#header-img{
    width: 300px;
    margin: 20px;
    cursor: pointer;
}
#nav-bar ul{
    display: flex;
    list-style: none;
}
#nav-bar ul li{
    padding: 0px 20px;
}
#nav-bar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
#moto{
    text-align: center;
}
#form-control form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#email{
    width: 17rem;
    padding: 5px;
    margin-bottom: 10px;
}
.submit-btn{
    background-color: #f1c40f;
    border: none;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 30px;
}
#premium-material, #fast-shipping, #quality-assurance{
    display: flex;
    align-items: center;
}
.feature-detail{
    font-size: 17px;
    font-weight: 600;
}
.icon{
    color: darkorange;
    font-size: 50px;
    padding: 50px 50px 50px 50px;
}
    